# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE specific
.vscode/
.idea/
combine_files.bat
combined_project_files.txt
ameet_v1.0_개발중_전체소스.txt
AMEET_project_full_source_code.txt
run_server.bat
source_code_merge.bat
ameet_project_full_sourcecode.txt
ameet_db.agents.json
