fastapi
gunicorn[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
aiomysql
redis>=4.2
beanie
motor
cloud-sql-python-connector==1.18.4
langchain
langgraph
langchain-google-genai
langchain-openai
langchain-anthropic
langchain-community
tavily-python
playwright